#filter-box {
    position: fixed;
    right: 0;
    top:58px;
    width: 300px;
    background: #5A1A35;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    height: calc(100vh - 58px);
    border-radius: 0;
    padding: 25px 15px;
}

#headerBar {
    z-index: 1;
}

.form-control {
    border-radius: 30px !important;
    border: none;
    padding-right: 35px;
}

#basic-text1{
    margin-left: -40px;
    z-index: 5;
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.input-group {
    max-width: 300px;
}

#filterBtn {
    background: #5A1A35;
    border-radius: 20px 0px 0px 20px;
    position: fixed;
    padding : 20px;
    top: 65px;
    right: 0;
    display: block;
    color: white;
    z-index: 100;
}

nav {
    background: #1E2832;
}

nav > a {
    color: #E8C38C;
}